.qq{
    width: 140px;
    height: 40px;
    background-color:  deepskyblue;
    border-radius: 5px;
    border: none;
    padding: 5px 16px;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}
/* 
.form input:focus{

    box-shadow: 10px 10px 10px rgba(250, 122, 18, 0.918);
    
} */

.form label{
    margin-bottom: 4px;
}